body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url(https://i.pinimg.com/564x/e7/d4/53/e7d4530a874e3240d30d295cb8b7adab.jpg);
}


.container {
    width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, box-shadow 0.5s ease; 
}

.container:hover{
   transform: scale(1.06); /* Scale the container by 1.2 times during hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 15px;
    font-size: 30px;
}

.form-group {
    margin-bottom: 20px;
   
}

label {
    display: block;
    font-weight: bold;
    padding: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
.form-group input {
      width: 26px;
      flex: 1;
      text-align: center;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-right: 5px; 
      
    }
    
.form-group {
width: 100%;
display: flex;
justify-content: space-between;
    
    max-width: 30px; /* Adjust the max-width as needed */
    margin:  36px;
}
a:hover{
  color: red;
  
}
